---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import SearchCollection from "@components/SearchCollection";
import ArrowCard from "@components/ArrowCard";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());

const featured = projects.filter((project) => project.data.featured);

const tags = [
  ...new Set(projects.flatMap((project) => project.data.tags)),
].sort((a, b) => a.localeCompare(b));

const estimated_initial_size =
  28 + projects.length * 158 + (projects.length - 1) * 12;
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <TopLayout>
    <div class="animate">
      <h1 class="text-3xl font-semibold text-black dark:text-white mt-2">
        {PROJECTS.TITLE}
      </h1>
      <div class="mt-1">
        {PROJECTS.DESCRIPTION}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    {featured.length > 0 && (
      <div class="animate space-y-4 mb-12">
        <p class="font-semibold text-black dark:text-white">Featured</p>
        <ul class="space-y-4">
          {featured.map((project) => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
        <hr class="border-black/10 dark:border-white/20" />
      </div>
    )}
    <div
      id="search-collection-wrapper"
      class="animate"
      style={{ minHeight: `${estimated_initial_size}px` }}
    >
      <SearchCollection
        client:load
        entry_name={"projects"}
        tags={tags}
        data={projects}
      />
    </div>
  </BottomLayout>
</PageLayout>
